<?xml version="1.0" encoding="utf-8"?>
<manifest package="com.cicero.repostapp"
    xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:usesCleartextTraffic="true"
        android:icon="@mipmap/ic_launcher_foreground"
        android:label="@string/app_name"
        android:theme="@style/Theme.CiceroReposter">
        <activity android:name=".ReportActivity" />
        <activity android:name=".DashboardActivity" />
        <activity android:name=".LoginActivity" />
        <activity android:name=".PremiumRegistrationActivity" />
        <activity android:name=".SubscriptionConfirmActivity" />
        <activity android:name=".TiktokLoginActivity" />
        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id" />
        <activity
            android:name="com.facebook.FacebookActivity"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:label="@string/app_name" />
        <provider
            android:name="com.facebook.internal.FacebookInitProvider"
            android:authorities="com.facebook.app.FacebookContentProvider${applicationId}"
            android:exported="false"
            tools:replace="android:authorities" />
        <activity
            android:name=".TwitterCallbackActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:scheme="repostapp"
                    android:host="twitter-callback" />
            </intent-filter>
        </activity>
        <activity
            android:name=".SplashActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths" />
        </provider>
        <activity
            android:name=".MainActivity"
            android:exported="true" />
    </application>
</manifest>
